[submodule "project/ext/stm32-cmake"]
	path = project/ext/stm32-cmake
	url = https://github.com/ObKo/stm32-cmake
[submodule "project/ext/STM32CubeG0"]
	path = project/ext/STM32CubeG0
	url = https://github.com/STMicroelectronics/STM32CubeG0
[submodule "project/ext/printf"]
	path = project/ext/printf
	url = https://github.com/eyalroz/printf
